@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@font-face{ 
	font-family: 'mainB';
	src: url("/static/fonts/Montserrat-Bold-webfont.eot");
	src: url('/static/fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/Montserrat-Bold-webfont.woff') format('woff'),
	     url('/static/fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
	     url('/static/fonts/Montserrat-Bold-webfont#webfont') format('svg');
}

@font-face{
    font-family:'mainL';
    	src: url('/static/fonts/Montserrat-Light-webfont.eot');
	src: url('/static/fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/Montserrat-Light-webfont.woff') format('woff'),
	     url('/static/fonts/Montserrat-Light-webfont.ttf') format('truetype'),
	     url('/static/fonts/Montserrat-Light-webfont#webfont') format('svg');
}
@font-face{
    font-family:'mainR';
    	src: url('/static/fonts/Montserrat-Regular-webfont.eot');
	src: url('/static/fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/Montserrat-Regular-webfont.woff') format('woff'),
	     url('/static/fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
	     url('/static/fonts/Montserrat-Regular-webfont#webfont') format('svg');
}


@font-face {
    font-family: 'nexa_lightregular';
    src: url("/static/fonts/Nexa_Free_Light-webfont.eot");
    src: url("/static/fonts/Nexa_Free_Light-webfont.eot?#iefix") format('embedded-opentype'),
         url("/static/fonts/Nexa_Free_Light-webfont.woff2") format('woff2'),
         url("/static/fonts/Nexa_Free_Light-webfont.woff") format('woff'),
         url("/static/fonts/Nexa_Free_Light-webfont.ttf") format('truetype'),
         url("/static/fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url("/static/fonts/Nexa_Free_Bold-webfont.eot");
    src: url("/static/fonts/Nexa_Free_Bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("/static/fonts/Nexa_Free_Bold-webfont.woff2") format('woff2'),
         url("/static/fonts/Nexa_Free_Bold-webfont.woff") format('woff'),
         url("/static/fonts/Nexa_Free_Bold-webfont.ttf") format('truetype'),
         url("/static/fonts/Nexa_Free_Bold-webfont.svg#nexa_lightregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

$mainfont: "mainL", Helvetica, Arial, sans-serif;
$serif:'Antic Slab', serif;
$fuchsia:#E23E6C;
$purple:#A84D95;
$blue:#58B2DC;


 $white       : #FFFFFF;
 $ghost       : #FAFAFA;
 $snow        : #F9F9F9;
 $vapor       : #F6F6F6;
 $white-smoke : #F5F5F5;
 $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
 $gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
 $base        : #AAAAAA;
 $aluminum    : #999999;
 $jumbo       : #888888;
 $monsoon     : #777777;
 $steel       : #666666;
 $charcoal    : #555555;
 $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #222222;
 $black       : #000000;

$fade-orange: #f1a15b;



