@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@font-face {
  font-family: 'mainB';
  src: url("/static/fonts/Montserrat-Bold-webfont.eot");
  src: url("/static/fonts/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Bold-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Bold-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Bold-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'mainL';
  src: url("/static/fonts/Montserrat-Light-webfont.eot");
  src: url("/static/fonts/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Light-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Light-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Light-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'mainR';
  src: url("/static/fonts/Montserrat-Regular-webfont.eot");
  src: url("/static/fonts/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Regular-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Regular-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Regular-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'nexa_lightregular';
  src: url("/static/fonts/Nexa_Free_Light-webfont.eot");
  src: url("/static/fonts/Nexa_Free_Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Nexa_Free_Light-webfont.woff2") format("woff2"), url("/static/fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("/static/fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("/static/fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nexa_boldregular';
  src: url("/static/fonts/Nexa_Free_Bold-webfont.eot");
  src: url("/static/fonts/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Nexa_Free_Bold-webfont.woff2") format("woff2"), url("/static/fonts/Nexa_Free_Bold-webfont.woff") format("woff"), url("/static/fonts/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("/static/fonts/Nexa_Free_Bold-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  border-top: 0.5em solid #E23E6C;
  border-bottom: 0.5em solid #A84D95;
  min-height: 100% !important;
  height: auto !important; }

html#bubble {
  border: 0.5em solid;
  border-color: #8dcfe9; }

html#mailchimp {
  border: 0.5em solid;
  border-color: #febe12; }

html#ootb {
  border: 0.5em solid;
  border-color: #ff9d90; }

html#mcd {
  border: 0.5em solid;
  border-color: #00b0b6; }

body {
  font-family: "mainL", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.02rem; }

.columns, .column {
  padding: 0; }

h1 {
  font-family: "Antic Slab", serif;
  font-size: 1.8rem;
  color: #555555; }

h2 {
  font-family: "Antic Slab", serif;
  font-size: 1.6rem;
  color: #555555; }

h3 {
  font-family: 'mainR',sans-serif;
  font-size: 1.4rem;
  color: #555555; }

h4 {
  font-family: 'mainR',sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: #999999; }

div#landing-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%; }
  div#landing-wrapper section#intro, div#landing-wrapper section#wrapper {
    position: relative;
    height: 100vh;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column; }

div#landing-wrapper section#intro {
  background: -moz-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(168, 77, 149, 0.65)), color-stop(41%, rgba(168, 77, 149, 0.75)), color-stop(68%, rgba(168, 77, 149, 0.85)), color-stop(99%, rgba(226, 62, 108, 0.87)), color-stop(100%, rgba(226, 62, 108, 0.88)));
  background: -webkit-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -o-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -ms-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: linear-gradient(to bottom, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%); }

.overlay ul li a {
  font-family: "mainL", Helvetica, Arial, sans-serif; }

#toggle {
  position: fixed;
  right: 10%;
  top: 5%;
  display: block;
  z-index: 99998;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  #toggle:hover {
    cursor: pointer; }

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

#toggle span:after {
  top: 9px; }

#toggle span {
  position: relative;
  display: block; }

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 30px;
  height: 4px;
  background-color: #E23E6C;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  backface-visibility: hidden; }

/* on activation */
#toggle.on {
  height: 32px;
  width: 32px;
  position: fixed;
  right: 10%;
  top: 5%;
  display: block;
  z-index: 10000; }

#toggle.on span {
  background-color: transparent; }

#toggle.on span:before {
  transform: rotate(-45deg) translate(-13px, 4px);
  -webkit-transform: rotate(-45deg) translate(-13px, 4px);
  background-color: #FAFAFA !important; }

#toggle.on span:after {
  transform: rotate(45deg) translate(-8px, 0px);
  -webkit-transform: rotate(45deg) translate(-8px, 0px);
  background-color: #FAFAFA !important; }

div.thegrid {
  padding: 0.5rem; }

div.thegrid a div.grid-caption::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 93%;
  height: 91%;
  background-color: rgba(245, 245, 245, 0.95);
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.7s, color 0.7s, opacity 0.7s;
  transition: transform 0.7s, color 0.7s opacity 0.7s; }

div.thegrid a h3 {
  position: absolute;
  display: block;
  font-family: "Antic Slab", serif;
  font-weight: normal;
  bottom: 5%;
  padding: 15px 8%;
  line-height: 1em;
  color: #666666;
  background: rgba(245, 245, 245, 0.9);
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  -webkit-transition: -webkit-transform 0.55s, color 0.55s, opacity 0.55s;
  transition: transform 0.55s, color 0.55s opacity 0.55s;
  transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 0, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, 0, 0); }

div.thegrid > a div.grid-caption p {
  color: #888888;
  display: block;
  height: auto;
  width: 92% !important;
  position: absolute;
  top: 5%;
  left: 9%;
  font-size: 1rem;
  font-family: 'mainL', sans-serif;
  -webkit-transition: -webkit-transform 0.55s, color 0.55s, opacity 0.55s;
  transition: transform 0.55s, color 0.55s opacity 0.55s;
  -webkit-transform: translate3d(0, 60%, 0) translate3d(0, 0, 0);
  transform: translate3d(0, 60%, 0) translate3d(0, 0, 0);
  opacity: 0; }

div.thegrid:hover a h3 {
  color: #666666;
  background: transparent;
  -webkit-transform: translate3d(0, -60%, 0) translate3d(0, -60px, 0);
  transform: translate3d(0, -60%, 0) translate3d(0, -60px, 0); }

div.thegrid:hover a div.grid-caption::before,
div.thegrid:hover > a div.grid-caption p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) translate3d(0, 0, 0); }

div.thegrid:hover > a div.grid-caption p {
  -webkit-transform: translate3d(0, 80%, 0) translate3d(0, 80px, 0);
  transform: translate3d(0, 80%, 0) translate3d(0, 80px, 0); }

div.thegrid:hover > #thumbnails a img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

#wrapper {
  position: relative; }

div.hero, div.hero-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin: auto; }
  div.hero div.hero-bg, div.hero-wrap div.hero-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    div.hero div.hero-bg img, div.hero-wrap div.hero-bg img {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1100px;
      margin: 0 auto; }

html#bubble div.hero-bg {
  background-color: #8dcfe9;
  background-image: url("/static/images/bubble/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  html#bubble div.hero-bg img:first-child {
    bottom: 0px;
    left: 5%; }
  html#bubble div.hero-bg img:nth-child(2) {
    bottom: 30px;
    left: -45%; }

html#ootb div.hero-bg {
  background-color: #ff9d90; }
  html#ootb div.hero-bg img:first-child {
    bottom: 100px;
    left: 0; }
  html#ootb div.hero-bg img:nth-child(2) {
    bottom: 100px;
    left: 40%; }
  html#ootb div.hero-bg img:nth-child(3) {
    bottom: 95px;
    left: -35%; }

html#mcd div.hero-bg {
  background-color: #00b0b6; }
  html#mcd div.hero-bg img:first-child {
    bottom: 100px;
    left: 0; }
  html#mcd div.hero-bg img:nth-child(2) {
    bottom: 190px;
    left: -1%; }
  html#mcd div.hero-bg img:nth-child(3) {
    bottom: 210px;
    left: -360px; }

@media only screen and (max-width: 40em) {
  div.thegrid:hover a h3 {
    color: #FFFFFF;
    background: #6dbce0;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 0, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 0, 0); }

  div.thegrid:hover a div.grid-caption::before,
  div.thegrid:hover > a div.grid-caption p {
    opacity: 0; }

  div.hero-bg {
    min-height: 450px; }

  div#landing-wrapper section#wrapper {
    height: auto !important; }

  html#bubble div.hero-bg img:first-child {
    width: 90%;
    left: -15%; }
  html#bubble div.hero-bg img:nth-child(2) {
    top: 15%;
    left: 5%; }

  html#mcd div.hero-bg img:first-child {
    bottom: 100px;
    left: -50px; } }
@media only screen and (min-width: 40.063em) {
  html, body {
    height: 100%;
    min-height: 100%; }

  div#landing-wrapper section#wrapper {
    height: auto !important; } }
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  background: -webkit-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* IE10 */
  background: -o-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* Opera 11.10+ */
  background: linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* W3C */ }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 70%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  font-weight: 300;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  font-weight: 300;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 56px;
  font-weight: 300;
  display: block;
  color: #FAFAFA;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s; }
  .overlay ul li a:before {
    content: '-   ';
    opacity: 0;
    -webkit-transition: ease-in-out 0.7s;
    transition: ease-in-out 0.7s; }
  .overlay ul li a:after {
    content: '   -';
    opacity: 0;
    -webkit-transition: ease-in-out 0.7s;
    transition: ease-in-out 0.7s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  -webkit-transform: translateY(8%);
  transform: translateY(8%); }
  .overlay ul li a:hover:before,
  .overlay ul li a:focus:before {
    opacity: 1; }
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after {
    opacity: 1; }

/* Effects */
.overlay-scale nav {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s; }
  .overlay-scale ul {
    opacity: 0.4;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s; }

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }
  .overlay-scale.open ul {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }

/*# sourceMappingURL=port.css.map */
