title: Bubble
thumbnail: /static/images/bubble/thumb.jpg
tags: Product Design, User Experience, Visual Design
date: 15-08-2014
pageid: bubble
hero: /static/images/bubble/hero-part.png

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content row">
<div id="post-meta">Product Design | User Experience | Visual Design</div>
<h1>Overview</h1>
Bubble is a mobile app that utilizes virtual reality in order for people from
different parts of the world to share “A day in the life” panoramic
pictures, so others can look at the world from a different perspective,
and celebrate diversity.

<h1>Problem</h1>

We live in a world with enormous diversity: there are many different
perspectives and ways of thinking. Rather than being perceived as
making us richer and stronger, differences or diversity are all too often causes of
tension and problems.

<img src="{% static '/images/bubble/02.png' %}">

<h1>Strategies</h1>

<h4>Start young.</h4>
Tweens and teens are beginning to develop their own identity and worldview. These future peace leaders are the target audience of Bubble.
<h4>Do it yourself.</h4>
With the help of Google Cardboard, Bubble could be easily adopted and used by schools due to the Cardboard's simple, fun and inexpensive nature.
<h4>Virtual reality.</h4>
Bubble lets you look at the world from a different perspective using 360-degree panoramic images through the lenses of Google Cardboard, listen to sound and voices from the other side of the world.

<img src="{% static '/images/gif/bubble.gif' %}">

<h1>Deliverables</h1>
<h4>Art Direction</h4>
Clean, pastel colors attract the younger generation, and are easy on the eyes, given the consideration of how close eyes are to the screen when watching through Google Cardboard. Logos and icons use circular frames and rounded corners to resonate with the word "bubble". 
<img src="{% static '/images/bubble/03.jpg' %}">

<h4>Mobile App</h4>
The app is designed into 2 modes: "Create" and "Explore". "Create" mode lets you take spherical panoramic photos, record annotation and upload them. 
<img src="{% static '/images/bubble/04.jpg' %}">
"Explore" mode is activated automatically when a Cardboard is detected. From here you can view posts and listen to annotations from the first-person point of view. <br>Note: this mockup only has one screen for presentation purposes.
<img src="{% static '/images/gif/bubble-2.gif' %}">

<h4>Website</h4>
A simple one-page website that includes product information and contact form.
<a href="http://www.sundaisun.com/bubble/index.html" target="_blank">View Website</a>
<!--<img src="{% static '/images/bubble/05.jpg' %}">-->
<img src="{% static '/images/bubble/06.jpg' %}">

<h1>Process</h1>
<h4>Research</h4>
<img src="{% static '/images/bubble/07.jpg' %}">
<h4>From sketches to mockup</h4>
<img src="{% static '/images/bubble/08.jpg' %}">
<img src="{% static '/images/bubble/09.jpg' %}">
<h4>Iteration</h4>
<img src="{% static '/images/bubble/10.jpg' %}">
<h4>Prototyping</h4>
<img src="{% static '/images/gif/bubble-3.gif' %}">
</div>

{% endfilter %}
{% endblock body %}

