{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

<div class="hero">
   <div class="hero-wrap">
       <div class="hero-bg" id="hero-bg">
           <img id="img01" data-parallaxify-range-x="{{xrange1}}" data-parallaxify-range-y="{{yrange1}}" src="{{ hero1 }}">
           <img id="img02" data-parallaxify-range-x="{{xrange2}}" data-parallaxify-range-y="{{yrange2}}" src="{{ hero2 }}">
           <img id="img03" data-parallaxify-range-x="{{xrange3}}" data-parallaxify-range-y="{{yrange3}}" src="{{ hero3 }}">
       </div>
   </div>
</div>

	<section id="wrapper" class="post clearfix">

		<article class="post">
		<main>
			<section class="post-body">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
        </main>

                    {% block more %}
					This is where the post contents is.
				    {% endblock more %}

		</article>

<!--
		<footer id="post-meta" class="clearfix">
			<div class="date">{{ date|date:"M j" }}</div>
			{% if tags %}
				<div><span>Tags</span> {{ tags }} </div>
			{% endif %}
		</footer>
-->

		<footer class="post-footer row-f">
			<nav id="post-nav">
				<span class="prev small-6 columns">
				{% if prevPost %}
				<span class="nav-bg" style="background-image:url({{ prevPost.thumbnail }})"></span>
					<a href='/{{ prevPost.path }}'>
                {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next small-6 columns">
					{% if nextPost %}
					<span class="nav-bg" style="background-image:url({{ nextPost.thumbnail }})"></span>
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }}
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	</section>

{% endblock content %}