{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

<div class="hero">
<!--   <div class="hero-wrap row">-->
       <div class="hero-bg" id="hero-bg">
           <img id="img01" src="{{ hero1 }}">
           <img id="img02" src="{{ hero2 }}">
       </div>
<!--   </div>-->
</div>

	<section id="wrapper" class="post clearfix">
<!--
		<header id="header">
			<a href="/"><h1>{{ post.title }}</h1></a>
			{% block nav %}
				{{ block.super }}
			{% endblock nav %}
		</header>
-->

		<article class="post">
			<section class="post-body row">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
		</article>

		<footer id="post-meta" class="clearfix">
			<div class="date">{{ date|date:"M j" }}</div>
			{% if tags %}
				<div><span>Tags</span> {{ tags }} </div>
			{% endif %}
		</footer>

		<footer class="post-footer">
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	</section>

{% endblock content %}