@charset "UTF-8";
* {
    box-sizing: border-box;
}

//边缘颜色
html{
    border-top:0.5em solid $fuchsia;
    border-bottom:0.5em solid $purple;
    min-height:100% !important;
    height:auto !important;
}

html#bubble{
    @include html-border(0.5em, #8dcfe9);}

html#mailchimp{
    @include html-border(0.5em, #febe12);}

html#ootb{
    @include html-border(0.5em, #ff9d90);}

html#mcd{
    @include html-border(0.5em, #00b0b6);}

body{
    font-family: $mainfont;
    font-size:16px;
    color:$oil;
    letter-spacing:0.02rem;
}

.columns, .column{
    padding:0;
}

h1{
    font-family: $serif;
    font-size:1.8rem;
    color:$charcoal;
    line-height:2rem;
    margin-bottom:20px;
}

h2{
    font-family: $serif;
    font-size:1.6rem;
    color:$charcoal;
}

h3{
    font-family: 'mainR',sans-serif;
    font-size:1.4rem;
    color:$charcoal;
}

h4{
    font-family: 'mainR',sans-serif;
    font-weight: normal;
    font-size:1.4rem;
    color:$jet;
}

//首页百分百高度
div#landing-wrapper{
    position:relative;
    height:100%;
    min-height:100%;
    section#intro, section#wrapper{
        position:relative;
        height:100vh;
        min-height:730px;
        top:auto;
        left:auto;
        display:flex;
        flex-direction:column;
    }
}

div#landing-wrapper section#intro{
    @include gradient();
    background-size:cover;
    background-position:center;
}

div#logo-wrapper{
    position:relative;
    height:730px;
    text-align: center;
    #logo{
    width:10%;
    height:auto;
    animation-timing-function: ease;
    @include absolute-center();
    z-index:9997;
    svg{
        margin-bottom:20px;
        margin-top:-30px;
            }        
        }
    .logo-text{
    @include absolute-center();
    top:12%;
    text-transform: uppercase;
    color:$ghost;
    font-family: 'mainB';
    &:nth-child(2){
        top:auto;
        bottom:35%;
        font-size:1.2rem;
        }
    }    
    ul.header-menu{
        @include absolute-center();
        bottom:20%;
        top:auto;
        font-size:1rem;
        display:block;
        font-family:'nexa_boldregular';
        a {
            color:$ghost;
             margin-right:30px;
            &:last-child{
                margin-right:0;
            }
            li{
            display:inline-block;
            border: 1px white solid;
            text-align: center;
            list-style: none;
            padding-top:0.8rem;
            padding-bottom:0.8rem;
            padding-left:1rem;
            padding-right:1rem;
            @include ease-in-out(0.3s);
            &:hover{
                color:$fuchsia;
                background-color:rgba($ghost,0.9);
                    }
            }
    }
}
}
//LANDING INTRO PAGE END


//BG VIDEO
video#bgvid {
position: absolute; 
right: 0; bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: 100vh;
z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}

//读取进度条
//读取进度条结束

//HEADER
//NAV
.overlay ul li a{
    font-family: $mainfont;
}

//切换菜单按钮开始
#toggle {
  position:fixed;
  right:10%;
  top:0;
  display: block;
  z-index: 99998;
  width: 32px;
  height: 50px;
    &:hover{
        cursor: pointer;
    }
  @include ease-in-out();
}


#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after{
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 30px;
  height: 4px;
  background-color: $fuchsia;
  @include ease-in-out(0.5s);
  backface-visibility: hidden;
}

/* on activation */
#toggle.on{
    height:32px;
    width:32px;
    position:fixed;
    right:10%;
    top:0;
    display: block;
    z-index: 10000;
}

#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(-45deg) translate(-13px, 4px);
  -webkit-transform: rotate(-45deg) translate(-13px, 4px);
  background-color:$ghost !important;
}

#toggle.on span:after {
  transform: rotate(45deg) translate(-8px, 0px);
  -webkit-transform:rotate(45deg) translate(-8px, 0px);
  background-color:$ghost !important;
}
//切换菜单按钮结束
//LOGO-COLORED

a div#logo-colored{
      position:fixed;
      background-image:url('/static/images/logo.png');
      left:51px;
      background-size:cover;
      top:4px;
      display: block;
      z-index: 9996;
      width: 28px;
      height: 45px;
      opacity:0;
        &:hover{
            cursor: pointer;
        }
      @include ease-in-out();
}

div#nav-overlay{
    position:fixed;
    z-index:9995;
    width:50px;
    height:55px;
    top:0;
    left:40px;
    opacity:0;
    background-color:$fuchsia;
}

//首页图片
div.thegrid{
    padding:0.5rem;
}
//overlay style
div.thegrid a div.grid-caption::before {
	position: absolute;
	top: 0;
	left: 0;
    bottom:0;
    right:0;
    margin:auto;
	width: 93%;
	height: 91%;
//	@include gradient-dark();
    background-color:rgba($white-smoke,0.95);
	content: '';
	opacity: 0;
    @include transition(0.7s);
}

//post title style
div.thegrid a h3{
	position: absolute;
    display:block;
    font-family:$serif;
    font-weight: normal;
	bottom: 5%;
	padding:15px 8%;
    line-height:1em;
	color: $steel;
    background: rgba($white-smoke,0.9);
    font-size:1.8rem;
    letter-spacing: 0.02rem;
    @include transition(0.55s);
    @include ease-in-out(0.55s);
    @include threeD(0,-50%,0,0);
}

div.thegrid > a div.grid-caption p{
    color:$jumbo;
    display:block;
    height:auto;
    width:92% !important;
    position: absolute;
	top: 5%;
    left: 9%;
    font-size:1rem;
    font-family:'mainL', sans-serif;
    @include transition(0.55s);
    @include threeD(0,60%,0,0);
    opacity:0;
}

div.thegrid:hover a h3{
	color: $steel;
    background:transparent;
    @include threeD(0,-60%,0,-60px);
}

div.thegrid:hover a div.grid-caption::before,
div.thegrid:hover > a div.grid-caption p{
	opacity: 1;
	@include threeD(0,0,0,0);
}

div.thegrid:hover > a div.grid-caption p{
    @include threeD(0,80%,0,80px);}

div.thegrid:hover > #thumbnails a img{
    @include blur(5px);
}
//首页图片样式结束

//里页内容格式
#wrapper{
    position:relative;
}

div.hero, div.hero-wrap{
    position:relative;
    width:100%;
    height:100%;
    min-height:600px;
    margin:auto;
    div.hero-bg{
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    img{
    position:absolute;
    left:0;
    right:0;
    max-width: 1100px;
    margin:0 auto;
        }
    }
}


//案例研究header图片设置
html#bubble div.hero-bg{
    background-color:#8dcfe9;
    background-image: url('/static/images/bubble/hero-bg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    img:first-child{
        bottom:0px;
        left:5%;
		}
    img:nth-child(2){
        bottom:30px;
        left:-45%;}
    }

html#ootb div.hero-bg{
    background-color:#ff9d90;
    img:first-child{
        bottom:100px;
        left:0;
		}
    img:nth-child(2){
        bottom:100px;
        left:40%;
    }
    img:nth-child(3){
        bottom:95px;
        left:-35%;
    }
}

html#mcd div.hero-bg{
    background-color:#00b0b6;
    img:first-child{
        bottom:100px;
        left:0;
		}
    img:nth-child(2){
        bottom:190px;
        left:-1%;
    }
    img:nth-child(3){
        bottom:210px;
        left:-360px;
    }
}

//POST CONTENT ROW
div.post-content div.row{
    h1,h2,h3,h4,h5{
        text-align: center;
    }
    h4{
        margin-bottom:10px;
    }
}


img.nogaptop, div.nogaptop, img.nogapboth, div.nogapboth{
    margin-top:0;
}

img.nogapbtm, div.nogapbtm, img.nogapboth, div.nogapboth{
    margin-bottom:0;
}

div.row p span{
    padding-top:20px;
    a{
        @include ease-in(0.2s);
        &:hover{
            color:darken($fuchsia,15%);
        }
    }
}

//div.gif{
//    width:100%;
//    margin:0 auto;
//    text-align: center;
//    background-color:#8dcfe9;
//    img{
//    max-width:700px;
//}
//}

#footer{
    margin-top:20px;
}

//STRATEGIES
div.badge{
    display:inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-top:20px;
    color:$monsoon;
    i{
        font-size:3rem;
        margin-bottom:20px;
    }
    h5{
        color:$monsoon;
        font-family: "mainR";
    }
}

.dark-bg{
    width:100% !important;
    background-color:$silver;
    padding-top:50px;
    text-align: center;
    margin-bottom:50px;
}

//里页内容格式结束
//案例研究more设置

//more的overlay图层
.more-content{
    z-index:99999;
    i, h4{
        color:$fuchsia;
        display:inline-block;
    }
    i{
        font-size:2.5rem;
        padding-right:20px;
        padding-top:10px;
    }
}

.more-content-close{
    z-index:100000;
    width:70px;
    text-transform: uppercase;
    color:$fuchsia;
    background:transparent;
    text-indent:inherit;
    font-size:1rem;
    font-family: 'nexa_boldregular';
    &:hover{
        color:$ghost;
    }
}

//more在正文中的样式
#more{
    background:transparent;
    margin-top:40px;
    padding:0;
    padding-bottom:40px;
    a{
        outline:0;
        button{
            font-family:'mainL';
            background-color:transparent;
            outline:0;
            padding-top:13px;
            padding-bottom:15px;
            border:1px solid $fuchsia;
            @include ease-in-out(0.3s);
            color:$fuchsia;
            &:hover{
                background-color:$fuchsia;
                color:white;
            }
        }
    }
}

//a regular button style
.button-wrapper{
    text-align: center;
}


//FOOTER
.row-f {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  height:300px;
    &::before{
          content: " ";
          display: table;
    }
}




//响应式 small 响应式 small 响应式 small
@media only screen and (max-width: 40em){
    
div#logo-wrapper{
    height:450px;
    #logo{
    width:22% !important;
    svg{
        margin-top:30px;;
    }
    }
    #logo-text{
        @include absolute-center();
        top:18%;
}
}
    
div.thegrid:hover a h3{
	color: $white;
    font-size:1.7rem;
    letter-spacing: 0.02rem;
    text-shadow:1px 1px 8px rgba($jet, 0.8);
    @include threeD(0,-50%,0,0);
}
    
div.thegrid:hover a div.grid-caption::before,
div.thegrid:hover > a div.grid-caption p{
	opacity: 0;}
    
div.hero, div.hero-wrap{
     min-height:450px;
     overflow-x:hidden;
}
    
div.thegrid{
    padding:0;
}
    
div#landing-wrapper section#wrapper{
    height:auto !important;
    padding:0;
}

div#landing-wrapper section#intro{
    min-height:450px;
}

section#wrapper{
    padding-top:20px;
//    padding-left:30px;
//    padding-right:30px;
}
      
//post content small size style    
div.post-content div.row{
    font-size:0.8rem;
    padding-left:30px;
    padding-right:30px;
    line-height:1rem;
    h1{
        font-size:1.2rem;
        margin-bottom:1.2rem;
        margin-top:1.2rem;
    }
    h4{
        font-size:1rem;
        margin-top:1rem;
        margin-bottom:1rem;
    }
}
    
    
html#bubble div.hero-bg{
    img:first-child{
        width:90%;
        left:-15%;}
    img:nth-child(2){
        top:15%;
        left:5%;
    }
}

html#mcd div.hero-bg{
    img:first-child{
        bottom:30px;
        left:-50px;
		}
    img:nth-child(2){
        bottom:120px;
        left:-10px;
    }
    img:nth-child(3){
        bottom:150px;
        left:-380px;
    }
}
    
    
html#ootb div.hero-bg{
    img:first-child{
        bottom:70px;
		}
    img:nth-child(2){
        bottom:70px;
    }
    img:nth-child(3){
        bottom:65px;
    }
}    

//SMALL更多叠加内容的排版设置
.more-content {
    h4{
    margin-bottom:1rem;
    font-size:1rem;
}
    p{
        font-size:0.8rem;
    }
}
    
}

//响应式 medium 响应式 medium 响应式 medium
@media only screen and (min-width: 40.063em) and (max-width: 64em){
html,body{
    height:100%;
    min-height:100%;
}

div#landing-wrapper section#wrapper{
    height:auto !important;
}
    
//post title style
div.thegrid a h3{
    font-size:1.3rem;
}

div.thegrid > a div.grid-caption p{
    font-size:0.7rem;
    width:85% !important;
}

div.thegrid:hover > a div.grid-caption p{
    @include threeD(0,30%,0,30px);
}

div.thegrid:hover a h3{
    @include threeD(0,-40%,0,-40px);
}
    
.more-content{
    i, h4{
       padding-bottom:1.5rem;
    }
    h4{
        font-size:1.1rem;
    }
    p{
        font-size:0.9rem;
    }
}
    
}