@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@font-face {
  font-family: 'mainB';
  src: url("/static/fonts/Montserrat-Bold-webfont.eot");
  src: url("/static/fonts/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Bold-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Bold-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Bold-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'mainL';
  src: url("/static/fonts/Montserrat-Light-webfont.eot");
  src: url("/static/fonts/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Light-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Light-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Light-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'mainR';
  src: url("/static/fonts/Montserrat-Regular-webfont.eot");
  src: url("/static/fonts/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Montserrat-Regular-webfont.woff") format("woff"), url("/static/fonts/Montserrat-Regular-webfont.ttf") format("truetype"), url("/static/fonts/Montserrat-Regular-webfont#webfont") format("svg"); }
@font-face {
  font-family: 'nexa_lightregular';
  src: url("/static/fonts/Nexa_Free_Light-webfont.eot");
  src: url("/static/fonts/Nexa_Free_Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Nexa_Free_Light-webfont.woff2") format("woff2"), url("/static/fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("/static/fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("/static/fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nexa_boldregular';
  src: url("/static/fonts/Nexa_Free_Bold-webfont.eot");
  src: url("/static/fonts/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Nexa_Free_Bold-webfont.woff2") format("woff2"), url("/static/fonts/Nexa_Free_Bold-webfont.woff") format("woff"), url("/static/fonts/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("/static/fonts/Nexa_Free_Bold-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* -------------------------------- 

Main components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s; }

main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px); }

@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px); } }
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px); } }
.more {
  padding: 2em 0;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .more {
    padding: 2em; }

  .more p {
    line-height: 1.6; } }
@media only screen and (min-width: 1200px) {
  .more {
    padding: 6em; }

  .more p {
    line-height: 1.8;
    font-size: 18px;
    font-size: 1.125rem; } }
#more {
  background: #333333; }

#more li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s; }

.no-touch #more li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3); }

#more figure {
  position: relative; }

#more img {
  display: block;
  width: 100%;
  border-radius: .25em .25em 0 0; }

@media only screen and (min-width: 768px) {
  #more li {
    width: 31%;
    float: left;
    margin-right: 3.5%; }

  #more li:nth-child(3n) {
    margin-right: 0; } }
.more-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #333333;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s; }

.more-content.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.more-content img {
  width: 100%;
  display: block; }

.more-content .more-content-inner {
  padding: 1em;
  padding-top: 3em;
  color: #FAFAFA; }

@media only screen and (min-width: 768px) {
  .more-content {
    width: 600px;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px); }

  .more-content .more-content-inner {
    padding: 2em;
    padding-top: 3em; }

  .more-content .more-content-inner p {
    line-height: 1.6;
    margin: 2em 0; } }
@media only screen and (min-width: 1200px) {
  .more-content {
    width: 800px;
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
    transform: translateX(800px); }

  .more-content .more-content-inner {
    padding: 4em;
    padding-top: 8em;
    /* we move the content up so the title is over the color gradient */
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px); }

  .no-cssgradients .more-content .more-content-inner {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
.more-content-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: #E23E6C;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none; }

.more-content-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 0.8s;
  -moz-animation: cd-move-in 0.8s;
  animation: cd-move-in 0.8s; }

@media only screen and (min-width: 1200px) {
  .more-content-close {
    right: 20px;
    top: 20px; } }
/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateX(100px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
* {
  box-sizing: border-box; }

html {
  border-top: 0.5em solid #E23E6C;
  border-bottom: 0.5em solid #A84D95;
  min-height: 100% !important;
  height: auto !important; }

html#bubble {
  border: 0.5em solid #8dcfe9; }

html#mailchimp {
  border: 0.5em solid #febe12; }

html#ootb {
  border: 0.5em solid #ff9d90; }

html#mcd {
  border: 0.5em solid #00b0b6; }

body {
  font-family: "mainL", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.02rem; }

.columns, .column {
  padding: 0; }

h1 {
  font-family: "Antic Slab", serif;
  font-size: 1.8rem;
  color: #555555;
  line-height: 2rem;
  margin-bottom: 20px; }

h2 {
  font-family: "Antic Slab", serif;
  font-size: 1.6rem;
  color: #555555; }

h3 {
  font-family: 'mainR',sans-serif;
  font-size: 1.4rem;
  color: #555555; }

h4 {
  font-family: 'mainR',sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: #222222; }

div#landing-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%; }
  div#landing-wrapper section#intro, div#landing-wrapper section#wrapper {
    position: relative;
    height: 100vh;
    min-height: 730px;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column; }

div#landing-wrapper section#intro {
  background: -moz-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(168, 77, 149, 0.65)), color-stop(41%, rgba(168, 77, 149, 0.75)), color-stop(68%, rgba(168, 77, 149, 0.85)), color-stop(99%, rgba(226, 62, 108, 0.87)), color-stop(100%, rgba(226, 62, 108, 0.88)));
  background: -webkit-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -o-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: -ms-linear-gradient(top, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background: linear-gradient(to bottom, rgba(168, 77, 149, 0.65) 0%, rgba(168, 77, 149, 0.75) 41%, rgba(168, 77, 149, 0.85) 68%, rgba(226, 62, 108, 0.87) 99%, rgba(226, 62, 108, 0.88) 100%);
  background-size: cover;
  background-position: center; }

div#logo-wrapper {
  position: relative;
  height: 730px;
  text-align: center; }
  div#logo-wrapper #logo {
    width: 10%;
    height: auto;
    animation-timing-function: ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9997; }
    div#logo-wrapper #logo svg {
      margin-bottom: 20px;
      margin-top: -30px; }
  div#logo-wrapper .logo-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    top: 12%;
    text-transform: uppercase;
    color: #FAFAFA;
    font-family: 'mainB'; }
    div#logo-wrapper .logo-text:nth-child(2) {
      top: auto;
      bottom: 35%;
      font-size: 1.2rem; }
  div#logo-wrapper ul.header-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    bottom: 20%;
    top: auto;
    font-size: 1rem;
    display: block;
    font-family: 'nexa_boldregular'; }
    div#logo-wrapper ul.header-menu a {
      color: #FAFAFA;
      margin-right: 30px; }
      div#logo-wrapper ul.header-menu a:last-child {
        margin-right: 0; }
      div#logo-wrapper ul.header-menu a li {
        display: inline-block;
        border: 1px white solid;
        text-align: center;
        list-style: none;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
        div#logo-wrapper ul.header-menu a li:hover {
          color: #E23E6C;
          background-color: rgba(250, 250, 250, 0.9); }

video#bgvid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

.overlay ul li a {
  font-family: "mainL", Helvetica, Arial, sans-serif; }

#toggle {
  position: fixed;
  right: 10%;
  top: 0;
  display: block;
  z-index: 99998;
  width: 32px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  #toggle:hover {
    cursor: pointer; }

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

#toggle span:after {
  top: 9px; }

#toggle span {
  position: relative;
  display: block; }

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 30px;
  height: 4px;
  background-color: #E23E6C;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  backface-visibility: hidden; }

/* on activation */
#toggle.on {
  height: 32px;
  width: 32px;
  position: fixed;
  right: 10%;
  top: 0;
  display: block;
  z-index: 10000; }

#toggle.on span {
  background-color: transparent; }

#toggle.on span:before {
  transform: rotate(-45deg) translate(-13px, 4px);
  -webkit-transform: rotate(-45deg) translate(-13px, 4px);
  background-color: #FAFAFA !important; }

#toggle.on span:after {
  transform: rotate(45deg) translate(-8px, 0px);
  -webkit-transform: rotate(45deg) translate(-8px, 0px);
  background-color: #FAFAFA !important; }

a div#logo-colored {
  position: fixed;
  background-image: url("/static/images/logo.png");
  left: 51px;
  background-size: cover;
  top: 4px;
  display: block;
  z-index: 9996;
  width: 28px;
  height: 45px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  a div#logo-colored:hover {
    cursor: pointer; }

div#nav-overlay {
  position: fixed;
  z-index: 9995;
  width: 50px;
  height: 55px;
  top: 0;
  left: 40px;
  opacity: 0;
  background-color: #E23E6C; }

div.thegrid {
  padding: 0.5rem; }

div.thegrid a div.grid-caption::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 93%;
  height: 91%;
  background-color: rgba(245, 245, 245, 0.95);
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.7s, color 0.7s, opacity 0.7s;
  transition: transform 0.7s, color 0.7s opacity 0.7s; }

div.thegrid a h3 {
  position: absolute;
  display: block;
  font-family: "Antic Slab", serif;
  font-weight: normal;
  bottom: 5%;
  padding: 15px 8%;
  line-height: 1em;
  color: #666666;
  background: rgba(245, 245, 245, 0.9);
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  -webkit-transition: -webkit-transform 0.55s, color 0.55s, opacity 0.55s;
  transition: transform 0.55s, color 0.55s opacity 0.55s;
  transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 0, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, 0, 0); }

div.thegrid > a div.grid-caption p {
  color: #888888;
  display: block;
  height: auto;
  width: 92% !important;
  position: absolute;
  top: 5%;
  left: 9%;
  font-size: 1rem;
  font-family: 'mainL', sans-serif;
  -webkit-transition: -webkit-transform 0.55s, color 0.55s, opacity 0.55s;
  transition: transform 0.55s, color 0.55s opacity 0.55s;
  -webkit-transform: translate3d(0, 60%, 0) translate3d(0, 0, 0);
  transform: translate3d(0, 60%, 0) translate3d(0, 0, 0);
  opacity: 0; }

div.thegrid:hover a h3 {
  color: #666666;
  background: transparent;
  -webkit-transform: translate3d(0, -60%, 0) translate3d(0, -60px, 0);
  transform: translate3d(0, -60%, 0) translate3d(0, -60px, 0); }

div.thegrid:hover a div.grid-caption::before,
div.thegrid:hover > a div.grid-caption p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) translate3d(0, 0, 0); }

div.thegrid:hover > a div.grid-caption p {
  -webkit-transform: translate3d(0, 80%, 0) translate3d(0, 80px, 0);
  transform: translate3d(0, 80%, 0) translate3d(0, 80px, 0); }

div.thegrid:hover > #thumbnails a img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

#wrapper {
  position: relative; }

div.hero, div.hero-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin: auto; }
  div.hero div.hero-bg, div.hero-wrap div.hero-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    div.hero div.hero-bg img, div.hero-wrap div.hero-bg img {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1100px;
      margin: 0 auto; }

html#bubble div.hero-bg {
  background-color: #8dcfe9;
  background-image: url("/static/images/bubble/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  html#bubble div.hero-bg img:first-child {
    bottom: 0px;
    left: 5%; }
  html#bubble div.hero-bg img:nth-child(2) {
    bottom: 30px;
    left: -45%; }

html#ootb div.hero-bg {
  background-color: #ff9d90; }
  html#ootb div.hero-bg img:first-child {
    bottom: 100px;
    left: 0; }
  html#ootb div.hero-bg img:nth-child(2) {
    bottom: 100px;
    left: 40%; }
  html#ootb div.hero-bg img:nth-child(3) {
    bottom: 95px;
    left: -35%; }

html#mcd div.hero-bg {
  background-color: #00b0b6; }
  html#mcd div.hero-bg img:first-child {
    bottom: 100px;
    left: 0; }
  html#mcd div.hero-bg img:nth-child(2) {
    bottom: 190px;
    left: -1%; }
  html#mcd div.hero-bg img:nth-child(3) {
    bottom: 210px;
    left: -360px; }

div.post-content div.row h1, div.post-content div.row h2, div.post-content div.row h3, div.post-content div.row h4, div.post-content div.row h5 {
  text-align: center; }
div.post-content div.row h4 {
  margin-bottom: 10px; }

img.nogaptop, div.nogaptop, img.nogapboth, div.nogapboth {
  margin-top: 0; }

img.nogapbtm, div.nogapbtm, img.nogapboth, div.nogapboth {
  margin-bottom: 0; }

div.row p span {
  padding-top: 20px; }
  div.row p span a {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in; }
    div.row p span a:hover {
      color: #b81c47; }

#footer {
  margin-top: 20px; }

div.badge {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #777777; }
  div.badge i {
    font-size: 3rem;
    margin-bottom: 20px; }
  div.badge h5 {
    color: #777777;
    font-family: "mainR"; }

.dark-bg {
  width: 100% !important;
  background-color: #EFEFEF;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px; }

.more-content {
  z-index: 99999; }
  .more-content i, .more-content h4 {
    color: #E23E6C;
    display: inline-block; }
  .more-content i {
    font-size: 2.5rem;
    padding-right: 20px;
    padding-top: 10px; }

.more-content-close {
  z-index: 100000;
  width: 70px;
  text-transform: uppercase;
  color: #E23E6C;
  background: transparent;
  text-indent: inherit;
  font-size: 1rem;
  font-family: 'nexa_boldregular'; }
  .more-content-close:hover {
    color: #FAFAFA; }

#more {
  background: transparent;
  margin-top: 40px;
  padding: 0;
  padding-bottom: 40px; }
  #more a {
    outline: 0; }
    #more a button {
      font-family: 'mainL';
      background-color: transparent;
      outline: 0;
      padding-top: 13px;
      padding-bottom: 15px;
      border: 1px solid #E23E6C;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      color: #E23E6C; }
      #more a button:hover {
        background-color: #E23E6C;
        color: white; }

.button-wrapper {
  text-align: center; }

.row-f {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
  margin-bottom: 0;
  max-width: 100%;
  height: 300px; }
  .row-f::before {
    content: " ";
    display: table; }
  .row-f span {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    height: 300px;
    cursor: pointer; }
  .row-f span.nav-bg {
    position: absolute !important;
    left: 0;
    right: 0;
    z-index: 1;
    background-size: cover;
    background-position: top;
    filter: saturate(5%);
    -webkit-filter: saturate(5%); }
    .row-f span.nav-bg:hover {
      filter: saturate(90%);
      -webkit-filter: saturate(90%); }
  .row-f a {
    position: absolute;
    left: 9%;
    top: 5%;
    z-index: 10;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: "Antic Slab", serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 60%;
    text-shadow: 1px 1px 6px #222222; }

@media only screen and (max-width: 40em) {
  div#logo-wrapper {
    height: 450px; }
    div#logo-wrapper #logo {
      width: 22% !important; }
      div#logo-wrapper #logo svg {
        margin-top: 30px; }
    div#logo-wrapper #logo-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      top: 18%; }

  div.thegrid:hover a h3 {
    color: #FFFFFF;
    font-size: 1.7rem;
    letter-spacing: 0.02rem;
    text-shadow: 1px 1px 8px rgba(34, 34, 34, 0.8);
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 0, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 0, 0); }

  div.thegrid:hover a div.grid-caption::before,
  div.thegrid:hover > a div.grid-caption p {
    opacity: 0; }

  div.hero, div.hero-wrap {
    min-height: 450px;
    overflow-x: hidden; }

  div.thegrid {
    padding: 0; }

  div#landing-wrapper section#wrapper {
    height: auto !important;
    padding: 0; }

  div#landing-wrapper section#intro {
    min-height: 450px; }

  section#wrapper {
    padding-top: 20px; }

  div.post-content div.row {
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1rem; }
    div.post-content div.row h1 {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
      margin-top: 1.2rem; }
    div.post-content div.row h4 {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }

  html#bubble div.hero-bg img:first-child {
    width: 90%;
    left: -15%; }
  html#bubble div.hero-bg img:nth-child(2) {
    top: 15%;
    left: 5%; }

  html#mcd div.hero-bg img:first-child {
    bottom: 30px;
    left: -50px; }
  html#mcd div.hero-bg img:nth-child(2) {
    bottom: 120px;
    left: -10px; }
  html#mcd div.hero-bg img:nth-child(3) {
    bottom: 150px;
    left: -380px; }

  html#ootb div.hero-bg img:first-child {
    bottom: 70px; }
  html#ootb div.hero-bg img:nth-child(2) {
    bottom: 70px; }
  html#ootb div.hero-bg img:nth-child(3) {
    bottom: 65px; }

  .more-content h4 {
    margin-bottom: 1rem;
    font-size: 1rem; }
  .more-content p {
    font-size: 0.8rem; } }
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  html, body {
    height: 100%;
    min-height: 100%; }

  div#landing-wrapper section#wrapper {
    height: auto !important; }

  div.thegrid a h3 {
    font-size: 1.3rem; }

  div.thegrid > a div.grid-caption p {
    font-size: 0.7rem;
    width: 85% !important; }

  div.thegrid:hover > a div.grid-caption p {
    -webkit-transform: translate3d(0, 30%, 0) translate3d(0, 30px, 0);
    transform: translate3d(0, 30%, 0) translate3d(0, 30px, 0); }

  div.thegrid:hover a h3 {
    -webkit-transform: translate3d(0, -40%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -40%, 0) translate3d(0, -40px, 0); }

  .more-content i, .more-content h4 {
    padding-bottom: 1.5rem; }
  .more-content h4 {
    font-size: 1.1rem; }
  .more-content p {
    font-size: 0.9rem; } }
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  background: -webkit-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* IE10 */
  background: -o-linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* Opera 11.10+ */
  background: linear-gradient(rgba(226, 62, 108, 0.9) 10%, rgba(168, 77, 149, 0.9) 90%);
  /* W3C */ }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 70%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  font-weight: 300;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  font-weight: 300;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 56px;
  font-weight: 300;
  display: block;
  color: #FAFAFA;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s; }
  .overlay ul li a:before {
    content: '-   ';
    opacity: 0;
    -webkit-transition: ease-in-out 0.7s;
    transition: ease-in-out 0.7s; }
  .overlay ul li a:after {
    content: '   -';
    opacity: 0;
    -webkit-transition: ease-in-out 0.7s;
    transition: ease-in-out 0.7s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  -webkit-transform: translateY(8%);
  transform: translateY(8%); }
  .overlay ul li a:hover:before,
  .overlay ul li a:focus:before {
    opacity: 1; }
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after {
    opacity: 1; }

/* Effects */
.overlay-scale nav {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s; }
  .overlay-scale ul {
    opacity: 0.4;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s; }

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }
  .overlay-scale.open ul {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

@media only screen and (max-width: 40em) {
  .overlay nav {
    height: 80%;
    padding-top: 15%;
    font-size: 24px; }

  .overlay ul li {
    min-height: 26px; } }

/*# sourceMappingURL=port.css.map */
